@import '../mixins'
*
  // outline: 1px solid #000
/*---------------------------------------------*/
/*cookie*/
/*---------------------------------------------*/
.mainContent
  line-height: 2
  font-size: 20px
  letter-spacing: 2px
  a
    display: inline-block
  h1
    font-size: 40px
  h2
    font-size: 26px
  h3
    font-size: 20px
  .wrap 
    width: 100%
    max-width: 1280px
    min-width: 1200px
    margin: 0 auto
    position: relative
    +clearfix
  .section
    position: relative
    z-index: 1
    background-attachment: fixed
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    line-height: 2
    & > .wrap
      min-height: 100vh
  .txtBox
    +size(35%)
    background: rgba(#fff, .8)
    padding: $gutter * 4
    color: $mainColor
    +valign
  .btn
    display: inline-block
    padding: $gutter * 1 $gutter * 6
    background: $mainColor
    color: #fff
  

#section-1
  background-image: url('https://images.unsplash.com/photo-1485700281629-290c5a704409?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')
  .txtBox
    left: 0
#section-2
  background-image: url('https://images.unsplash.com/photo-1515934751635-c81c6bc9a2d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80')
  .txtBox
    right: 0
#section-3
  padding-bottom: $gutter * 10
  .titleBox
    padding: $gutter * 4 0 $gutter * 10
    background: $mainColor
    text-align: center
    position: relative
    +transition(all, .2s)
  .catBox
    padding: $gutter * 4 0
    text-align: center
  h2
    margin: 0 auto
  h3
    margin: 0 auto
  .contBox
    display: none
    padding: 0 $gutter * 4
    &:first-child
      display: block
  #tabs
    +size(100%)
    position: absolute
    bottom: 0
    z-index: 9
    margin: 0 auto
    background: $mainColor
    text-align: center
    padding: $gutter * 2 0
    a
      padding: $gutter $gutter * 2
      margin: 0 $gutter
      color: #fff
    &.fixed
      position: fixed
      left: 0

.cookieWrap
  display: flex
  & > div
    padding: $gutter * 4
    img
      +size(100%)
  &:nth-child(2n+1)
    flex-direction: row-reverse
  .cookie_txt
    flex: 4
    display: flex
    flex-flow: column
    justify-content: flex-end
    ._title
      font-size: 26px
    ._desc
      letter-spacing: 0
  .cookie_img
    flex: 6
    display: flex
    flex-flow: column
    justify-content: flex-end

#section-4
  .wrap
    min-height: 0
    display: flex
    align-items: center
    min-height: 50vh
  .bgBox
    min-height: 30vh
    position: relative
    background-attachment: fixed
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    background-image: url('https://images.unsplash.com/photo-1485700281629-290c5a704409?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')
    img
      +size(15%)
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
  .reservation
    text-align: center
    +size(100%)
    h2
      font-size: 30px
    p
      +size(50%)
      margin: $gutter auto $gutter * 3
      // display: block
      // text-align: left

	    




// +breakpoint(iphone)
// +breakpoint(tablet)
// +breakpoint(desktop)