@import '../mixins'
*
  // outline: 1px solid #000
/*---------------------------------------------*/
/*giftbox*/
/*---------------------------------------------*/
.contentBox#giftbox
	#section-1
		background-image: url('../../images/photo1.jpg')
	#section-2
		background-image: url('../../images/photo2.jpg')
	#section-3
		.titleBox
			background-image: url("../../images/photo2.jpg")