@import '../mixins'
*
  // outline: 1px solid #000
/*---------------------------------------------*/
/*giftbox*/
/*---------------------------------------------*/
.contentBox#giftbox
	#section-1
		background-image: url('../../images/photo1.jpg')
	#section-3
		.titleBox
			padding: 0
		#tabs
			background: rgba($mainColor,1)
			bottom: auto
		.infoBox
			min-height: 50vh
			padding: 20px 0
			background-attachment: fixed
			background-position: center center
			background-repeat: no-repeat
			background-size: cover
			position: relative
			text-align: center
			color: #fff
			+beforeCover(0.3)
			.wrap
				z-index: 2
		#tabs-1 .infoBox
			background-image: url("../../images/photo2.jpg")
		#tabs-2 .infoBox
			background-image: url("../../images/photo3.jpg")
		.cont_gallery
			margin: 30px auto
			display: flex
			flex-wrap: wrap
			justify-content: space-start
			img
				display: flex
				width: calc(100% / 3 - 2%)
				margin: 1%
				height: auto
			&#box img
				width: calc(100% / 4 - 2%)
			&#ribbon img
				width: calc(100% / 6 - 2%)