@import '../mixins'
/*---------------------------------------------*/
/*nav*/
/*---------------------------------------------*/
.navBox
  +size(100%)
  padding: 10px 0
  position: fixed
  top: 0
  z-index: 9
  background: rgba(#fff,1)
  +animation(show .2s)
  .logo
    +size(200px)
    margin: 0 0 0 10px
    float: left
    +transition(all, .2s)
    img
      +size(100%)
  .nav
    float: right
    margin-top: 12px
    +transition(all, .2s)
    a
      text-align: center
      padding: 10px 20px
      color: #333
      font-size: 17px
      position: relative
      +transition(all, .1s)
      &:hover, &.on
        color: $mainColor
      & + a
        margin-left: 20px