@import '../mixins'
/*---------------------------------------------*/
/*nav*/
/*---------------------------------------------*/
.navBox
  +size(100%)
  padding: $gutter 0
  position: fixed
  top: 0
  z-index: 9
  background: rgba(#fff,1)
  +animation(show .2s)
  .logo
    +size(15%)
    margin: 0 0 0 $gutter
    float: left
    +transition(all, .2s)
    img
      +size(100%)
  .nav
    float: right
    margin-top: $gutter * 1.2
    +transition(all, .2s)
    a
      text-align: center
      padding: $gutter $gutter * 2
      color: #333
      font-size: 18px
      position: relative
      +transition(all, .1s)
      &:hover, &.on
        color: $mainColor
      & + a
        margin-left: $gutter * 2