@import '../mixins'
*
  // outline: 1px solid #000
/*---------------------------------------------*/
/*responsive mobile*/
/*---------------------------------------------*/
+breakpoint(iphone)
  // main box
  .mainContent
    line-height: 1.6
    font-size: 16px
    letter-spacing: 0
    overflow: hidden
    .wrap 
      +size(100%)
      min-width: 0
    .section, #section-4 .bgBox
      background-attachment: initial
      background-size: cover
    h1
      font-size: 30px
    h2
      font-size: 20px
    h3
      font-size: 16px
    .txtBox
      line-height: 2
  // nav box
  .navBox , .navBox.fixed
    padding: 0
    .wrap
      width: calc(100% - (2% * 2))
      padding: 2%
      display: flex
      justify-content: center
      align-items: center
      +clearfix
    .logo
      +size(auto)
      margin: 0
      display: flex
      flex: 3
    .nav
      width: auto
      padding: 0
      margin-top: 0
      display: flex
      flex: 6
      justify-content: space-evenly
      a
        padding: 0
        font-size: 15px
        & + a
          margin-left: 0
  // footer box
  .footerBox
    line-height: 2
    font-size: #fff
    padding: 60px 10px
    a
      font-size: #fff
    .wrap
      display: block
      text-align: center
      & > div
        display: block
    .mediaBox
      display: block
      margin-top: 20px
      .icons a
        +size(40px, 40px)
        & + a
          margin-left: 20px
      .copyright
        font-size: 13px
  // cookies box
  #section-1
    +beforeCover(0.2)
    .txtBox
      margin-top: 100px
  #section-2
    +beforeCover(0.4)
    .txtBox
      right: auto
      left: 5%
  #section-3 
    .titleBox
      background: $mainColor
      &:before
        display: none
  #section-4
    .bgBox img
      +size(40%)
    .reservation
      flex-direction: column
      .column 
        padding: 0 20px
        width: auto
        & + .column
          margin-top: 50px
          padding-top: 50px
          &:before
            +size(80%, 1px)
            top: -1px
            +halign
      span
        display: block
  #tabs
    padding: 0
    a
      width: 25%
      margin: 0
      line-height: 1.3
      padding: 10px
      &:after
        display: none
      span
        display: block
  #contBox .contBox
    padding: 0 20px 50px
    .catBox
      padding: 20px 0
      margin-bottom: 60px
      &:after
        +size(100%,30px)
        bottom: -30px
      h3 span
        display: inline
  .contWrap
    flex-flow: column
    flex-direction: column-reverse
    // padding: 0 20px
    & + .contWrap
      margin-top: 40px
    &:nth-child(2n+1)
      flex-direction: column-reverse
    .cont_txt
      flex: 12
      padding: 0
      text-align: center
    .cont_img
      flex: 12
      +size(70%)
      margin: 0 auto
  // giftbox
  .contentBox#giftbox
    #section-3
      .infoBox
        background-attachment: initial
        background-size: cover
        .txtBox
          width: 85%
          span
            display: block
        &#bag
          background-size: auto 25vh
          height: 25vh
      #green_box li
        width: calc(100% / 1.5)
      #green_ribbon li
        width: calc(100% / 2.5)
      #green_bag li
        width: calc(100% / 1.5)
      #green_cstm li
        width: calc(100% / 2.5)
      #moon_box li
        width: calc(100% / 1.5)
      #moon_circle li
        width: calc(100% / 2.5)
      #moon_cake li
        width: calc(100% / 1.5)
      #moon_cstm li
        width: calc(100% / 2.5)
    #contBox .contBox
      padding: 0
      .catBox
        padding: 20px 20px

+breakpoint(iphone-hrz)
  // main box
  .mainContent
    .wrap 
      +size(80%)
    .section, #section-4 .bgBox
      background-attachment: initial
      background-size: cover
    h1
      font-size: 30px
    h2
      font-size: 20px
    h3
      font-size: 16px
    .txtBox
      +size(90%)
  // nav box
  .navBox , .navBox.fixed
    .wrap
      width: 80%
      padding: 0.5% 0
    .logo
      flex: 2
    .nav
      justify-content: flex-end
      a
        & + a
          margin-left: 10px
  // footer box
  .footerBox .infoBox
    +scale(0.8)
  // cookies box
  #section-1 .txtBox
    margin-top: 0
    top: 25%
    margin: auto
    +scale(0.7)
  #section-2 .txtBox
    margin-top: 0
    top: 0
    bottom: 0
    margin: auto
    +scale(0.7)
  #section-3 
    .titleBox
      background: $mainColor
      &:before
        display: none
    h3
      width: 100%
      +scale(0.85)
  #tabs a
    padding: 10px
    &:after
      display: block
      +size(15px,15px)
      left: 0
    span
      display: inline
  .contWrap
    display: flex
    justify-content: center
    flex-flow: row
    flex-direction: row
    padding: 0
    +size(100%)
    &:nth-child(2n+1)
      flex-direction: row-reverse
    .cont_txt
      flex: 6
      padding: 0
      text-align: left
    .cont_img
      flex: 6
      img
        margin: 0 auto
        width: 100%
  #section-4
    .bgBox
      min-height: 200px
      img
        +size(20%)
    .reservation p
      +size(100%)
      +scale(0.8)
      line-height: 2
      margin: 10px auto
