@import '../mixins'
*
  // outline: 1px solid #000
/*---------------------------------------------*/
/*responsive tablet*/
/*---------------------------------------------*/     
+breakpoint(tablet)
  .mainContent
    line-height: 2
    font-size: 16px
    h1
      font-size: 30px
    h2
      font-size: 20px
    h3
      font-size: 16px
    .txtBox
      line-height: 2
    .wrap
      +size(90%)
  .navBox
    .logo
      +size(150px)
    .nav 
      margin-top: 8px
      a
        padding: 5px 10px
        font-size: 16px
  .footerBox .mediaBox
    font-size: 13px
  #tabs
    padding: 5px 0
    a
      padding: 10px 10px
      &:after
        +size(15px,15px)
  #contBox .contBox
    .catBox
      padding-top: 30px
      margin-bottom: 20px
  .contWrap
    .cont_txt
      flex: 6
      flex-shrink: auto
      flex-grow: auto
    .cont_img
      flex: 4
      flex-shrink: auto
      flex-grow: auto
  #section-4 
    .bgBox img
      +size(200px)
    .reservation p
      min-height: 220px
  .contentBox#giftbox
    #section-3 
      #green_box li
        width: calc(100% / 2.5)
      #green_ribbon li
        width: calc(100% / 3.5)
      #green_bag li
        width: calc(100% / 2.5)
      #green_cstm li
        width: calc(100% / 3)
      #moon_box li
        width: calc(100% / 2.5)
      #moon_circle li
        width: calc(100% / 3)
      #moon_cake li
        width: calc(100% / 2.5)
      #moon_cstm li
        width: calc(100% / 3)
  .contentBox#catering
    #section-3
      .catBox
        margin-bottom: 70px
      .contWrap 
        width: 90%
        & + .contWrap:before
          +size(100%, 1px)
        .cont_txt
          flex: 5
        .cont_img
          flex: 7
          img
            max-width: 300px
        span
          white-space: normal


+breakpoint(mac)
  .mainContent
    line-height: 1.6
    font-size: 16px
    h1
      font-size: 30px
    h2
      font-size: 20px
    h3
      font-size: 16px
    .txtBox
      line-height: 2
    .wrap
      +size(75%)
  .navBox
    .logo
      +size(150px)
    .nav 
      margin-top: 8px
      a
        padding: 5px 10px
        font-size: 16px
  .footerBox .mediaBox
    font-size: 13px
  #tabs
    padding: 5px 0
    a
      padding: 10px 10px
      &:after
        +size(15px,15px)
        left: -8px
  #contBox .contBox
    .catBox
      padding-top: 30px
      margin-bottom: 20px
  .contWrap
    .cont_txt
      flex: 420px
      flex-shrink: 0
      flex-grow: 0
      margin-top: 50px
    .cont_img
      flex: 350px
      flex-shrink: 0
      flex-grow: 0
  #section-4 .bgBox img
    +size(200px)
  .contentBox#giftbox
    #section-3 
      .cont_gallery li 
        font-size: 15px
      #green_box li span
          margin: 0