.cookieBox#cookie
  .section#section-1
    .wrap
      .txtBox
        | 婚禮是人一輩子最重要的事情之一，
        br
        | 也是最難忘的回憶。
        br
        | 與相愛的人並肩迎接新的生活，
        br
        | 也希望能夠得到周遭親朋好友最大的祝福。
  .section#section-2
    .wrap
      .txtBox
        | 我們是GREENBAKERY綠帶純植物烘焙，
        br
        | 秉持著不傷害自然萬物的理念，
        br
        | 用純植物的方式來製作囍餅，
        br
        | 希望每一對新人在這個人生中重要的一天，
        br
        | 能透過對萬物的愛與尊敬，
        br
        | 而得到來自宇宙的最大祝福。
  .section#section-3
    .titleBox
      .wrap
        h1 純植物喜餅系列
        h2 大量使用有機食材，獨創純植物作法
        h3 堅持嚴選最純淨的高品質食材 : 芬蘭有機麵粉、義大利原裝進口植物油，法國CACAO BARRY巧克力、日本琦玉焙茶、綠藻抹茶...不使用任何動物性成分與化學添加物，大量運用食材本身的色澤與香氣，製作獨一無二的Vegan純植物手工餅乾。
      .tabBox#tabs
        a(href="#tabs-1") 雪球餅乾
        a(href="#tabs-2") 圓片餅乾
        a(href="#tabs-3") 風味餅乾
        a(href="#tabs-4") 經典餅乾
    .wrap#contBox
      .contBox#tabs-1
        .catBox
          h2 雪球餅乾
          h3 
            | 以杏仁粉及有機椰子油搭配非基因改良黃豆粉，創作出入口即化的微笑雪球。
            br
            | 麻香花椒與巧克力、綠藻抹茶與台灣春茶，成為出其不意的美妙和諧。
        
      .contBox#tabs-2
        .catBox
          h2 圓片餅乾
          h3 
            | 以杏仁粉及有機椰子油搭配非基因改良黃豆粉，創作出入口即化的微笑雪球。
            br
            | 麻香花椒與巧克力、綠藻抹茶與台灣春茶，成為出其不意的美妙和諧。
      .contBox#tabs-3
        .catBox
          h2 風味餅乾
          h3 
            | 以杏仁粉及有機椰子油搭配非基因改良黃豆粉，創作出入口即化的微笑雪球。
            br
            | 麻香花椒與巧克力、綠藻抹茶與台灣春茶，成為出其不意的美妙和諧。
      .contBox#tabs-4
        .catBox
          h2 經典餅乾
          h3 
            | 以杏仁粉及有機椰子油搭配非基因改良黃豆粉，創作出入口即化的微笑雪球。
            br
            | 麻香花椒與巧克力、綠藻抹茶與台灣春茶，成為出其不意的美妙和諧。
  .section#section-4
    .wrap
      | section-4section-4section-4section-4section-4section-4
      
    
  