.footerBox
  .wrap   
    .infoBox
      | GREEN BAKERY 綠帶純植物烘焙 實體門市
      br
      | TEL：
      a(href="tel:+886 2 27477668") +886 2 2747 7668 
      br
      | ADD：台北市松山區延壽街171號
      br
      | Email：greenbakery2014@gmail.com
    .mediaBox
      .icons
        a(href="https://www.facebook.com/greenvbakery/", target="_blank", alt="Facebook")
        a(href="https://line.me/ti/p/%40eyp7323b", target="_blank", alt="LINE")
        a(href="https://www.instagram.com/greenvbakery/", target="_blank", alt="Instagram")
        a(href="https://www.youtube.com/channel/UCDe0eYWvgZ-xb3xzXP9cu1w", target="_blank", alt="Youtube")
      .copyright Copyright &copy; GREEN BAKERY All Rights Reserved.