.contentBox#giftbox
  //- section-1
  .section#section-1
    .wrap
      .txtBox
        | 婚禮是人一輩子最重要的事情之一，
        br
        | 也是最難忘的回憶。
        br
        | 與相愛的人並肩迎接新的生活，
        br
        | 也希望能夠得到周遭親朋好友最大的祝福。
  //- section-3 Tabs
  .section#section-3
    .titleBox
      .tabBox#tabs
        .wrap
          a.active(href="#tabs-1") 綠帶禮盒
          a(href="#tabs-2") 彌月禮盒
    #contBox
      .contBox#tabs-1
        .infoBox
          .wrap
            h2 綠帶禮盒
            h3 
              | 綠帶禮盒綠帶禮盒綠帶禮盒綠帶禮盒綠帶禮盒綠帶禮盒綠帶禮盒綠帶禮盒綠帶禮盒
              span 綠帶禮盒綠帶禮盒綠帶禮盒綠帶禮盒綠帶禮盒綠帶禮盒綠帶禮盒
        .catBox
          h2 外盒
          h3 
            | 外盒外盒外盒外盒外盒外盒外盒
        .contWrap.wrap
          .cont_gallery#box
            img(src="webroot/images/box-01.jpg", alt="")
            img(src="webroot/images/box-02.jpg", alt="")
            img(src="webroot/images/box-03.jpg", alt="")
            img(src="webroot/images/box-04.jpg", alt="")
        .catBox
          h2 緞帶
          h3 
            | 緞帶緞帶緞帶緞帶緞帶緞帶緞帶
        .contWrap.wrap
          .cont_gallery#ribbon
            img(src="webroot/images/ribbon-pink.jpg", alt="")
            img(src="webroot/images/ribbon-green.jpg", alt="")
            img(src="webroot/images/ribbon-gold.jpg", alt="")
            img(src="webroot/images/ribbon-blue.jpg", alt="")
            img(src="webroot/images/ribbon-red.jpg", alt="")
            img(src="webroot/images/ribbon-style.jpg", alt="")
        .catBox
          h2 提袋
          h3 
            | 提袋提袋提袋提袋提袋提袋提袋
        .contWrap.wrap
          .cont_gallery#bag
            img(src="webroot/images/bag02.jpg", alt="")
            img(src="webroot/images/bag02.jpg", alt="")
            img(src="webroot/images/bag02.jpg", alt="")
        .catBox
          h2 客製分享
          h3 
            | 客製分享客製分享客製分享客製分享客製分享客製分享客製分享
        .contWrap.wrap
          .cont_gallery
            img(src="webroot/images/custom-1.jpg", alt="")
            img(src="webroot/images/custom-2.jpg", alt="")
            img(src="webroot/images/custom-3.jpg", alt="")
            img(src="webroot/images/custom-4.jpg", alt="")
            img(src="webroot/images/custom-5.jpg", alt="")
            img(src="webroot/images/custom-6.jpg", alt="")
            

      .contBox#tabs-2
        .infoBox
          .wrap
            h2 彌月禮盒
            h3 
              | 彌月禮盒彌月禮盒彌月禮盒彌月禮盒彌月禮盒彌月禮盒彌月禮盒彌月禮盒彌月禮盒
              span 彌月禮盒彌月禮盒彌月禮盒彌月禮盒彌月禮盒彌月禮盒彌月禮盒
        .contWrap
          .cont_txt
            ._title 微笑雪球
            ._desc 彷如曬到太陽而微笑的雪球是以有機椰子油與黃豆粉來製作，鬆鬆脆脆的口感有著淡淡的椰子香氣，配上茶與咖啡是一個很質樸卻是很有內涵的茶點。
          .cont_img
            img(src="webroot/images/cookie01-1.png", alt="")




  //- section-4 reservation
  .section#section-4
    .bgBox
      img(src="./webroot/images/logo2.svg", alt="")
    .wrap
      .reservation
        h2 預約品嚐
        p
          | 囍餅品鑑需5-7天前申請預約
          br
          | •店取：NTD 200元／1組（兩人份）
          br
          | •宅配：NTD 420元／1組
          span （兩人份/含運/ATM轉帳付款）
          br
          | 歡迎於營業時間來電洽詢（11:00-20:00）
          br
          | 或填寫表單，我們將由專人與您聯繫。
        a.btn(href="http://www.greenvbakery.com/giftbox_wedding.html", target="blank") 預約品嚐