.contentBox#giftbox
  //- section-1
  .section#section-1
    .wrap
      .txtBox
        | 婚禮是人一輩子最重要的事情之一，
        br
        | 也是最難忘的回憶。
        br
        | 與相愛的人並肩迎接新的生活，
        br
        | 也希望能夠得到周遭親朋好友最大的祝福。
  //- section-2
  .section#section-2
    .wrap
      .txtBox
        | 婚禮是人一輩子最重要的事情之一，
        br
        | 也是最難忘的回憶。
        br
        | 與相愛的人並肩迎接新的生活，
        br
        | 也希望能夠得到周遭親朋好友最大的祝福。
  //- section-3 Tabs
  .section#section-3
    .titleBox
      .tabBox#tabs
        .wrap
          a.active(href="#tabs-1") 綠帶禮盒
          a(href="#tabs-2") 彌月禮盒
    #contBox
      .contBox#tabs-1
        .wrap
          .catBox
            h2 外盒
            h3 
              | 外盒外盒外盒外盒外盒外盒外盒
          .cont_gallery
            img(src="webroot/images/box-01.jpg", alt="")
            img(src="webroot/images/box-02.jpg", alt="")
            img(src="webroot/images/box-03.jpg", alt="")
            img(src="webroot/images/box-04.jpg", alt="")
          .catBox
            h2 緞帶
            h3 
              | 緞帶緞帶緞帶緞帶緞帶緞帶緞帶
          .cont_gallery
            img(src="webroot/images/ribbon-pink.jpg", alt="")
            img(src="webroot/images/ribbon-green.jpg", alt="")
            img(src="webroot/images/ribbon-gold.jpg", alt="")
            img(src="webroot/images/ribbon-blue.jpg", alt="")
            img(src="webroot/images/ribbon-red.jpg", alt="")
            img(src="webroot/images/ribbon-style.jpg", alt="")
        .infoBox#bag
          .txtBox
            | 婚禮是人一輩子最重要的事情之一，
            br
            | 也是最難忘的回憶。
            br
            | 與相愛的人並肩迎接新的生活，
            br
            | 也希望能夠得到周遭親朋好友最大的祝福。
        .wrap
          .catBox
            h2 提袋
            h3 
              | 提袋提袋提袋提袋提袋提袋提袋
          .cont_gallery
            img(src="webroot/images/bag02.jpg", alt="")
            img(src="webroot/images/bag02.jpg", alt="")
          .catBox
            h2 客製分享
            h3 
              | 客製分享客製分享客製分享客製分享客製分享客製分享客製分享
          .cont_gallery
            img(src="webroot/images/custom01-01.jpg", alt="")
            img(src="webroot/images/custom01-02.jpg", alt="")
            img(src="webroot/images/custom01-03.jpg", alt="")
            img(src="webroot/images/custom01-04.jpg", alt="")
            img(src="webroot/images/custom01-05.jpg", alt="")
            img(src="webroot/images/custom01-06.jpg", alt="")
              
      .contBox#tabs-2
        .infoBox
          .txtBox
            | 婚禮是人一輩子最重要的事情之一，
            br
            | 也是最難忘的回憶。
            br
            | 與相愛的人並肩迎接新的生活，
            br
            | 也希望能夠得到周遭親朋好友最大的祝福。
        .wrap
          .catBox
            h2 外盒介紹
            h3 
              | 外盒介紹外盒介紹外盒介紹外盒介紹外盒介紹外盒介紹外盒介紹
          .cont_gallery
            img(src="webroot/images/box2-01.jpg", alt="")
            img(src="webroot/images/box2-02.jpg", alt="")
            img(src="webroot/images/box2-03.jpg", alt="")
          .catBox
            h2 圓圓圈
            h3 
              | 圓圓圈圓圓圈圓圓圈圓圓圈圓圓圈圓圓圈圓圓圈
          .cont_gallery
            img(src="webroot/images/circle01-01.jpg", alt="")
            img(src="webroot/images/circle02-01.jpg", alt="")
            img(src="webroot/images/circle03-01.jpg", alt="")
            img(src="webroot/images/circle04-01.jpg", alt="")
            img(src="webroot/images/circle05-01.jpg", alt="")
          .catBox
            h2 棒但糕
            h3 
              | 棒但糕棒但糕棒但糕棒但糕棒但糕棒但糕棒但糕
          .cont_gallery
            img(src="webroot/images/cake-01.jpg", alt="")
            img(src="webroot/images/cake-02.jpg", alt="")
            img(src="webroot/images/cake-03.jpg", alt="")
            img(src="webroot/images/cake-04.jpg", alt="")
          .catBox
            h2 客製分享
            h3 
              | 客製分享客製分享客製分享客製分享客製分享客製分享客製分享
          .cont_gallery
            img(src="webroot/images/custom02-01.jpg", alt="")
            img(src="webroot/images/custom02-02.jpg", alt="")
            img(src="webroot/images/custom02-03.jpg", alt="")



  //- section-4 reservation
  .section#section-4
    .bgBox
      img(src="./webroot/images/logo2.svg", alt="")
    .wrap
      .reservation
        h2 預約品嚐
        p
          | 囍餅品鑑需5-7天前申請預約
          br
          | •店取：NTD 200元／1組（兩人份）
          br
          | •宅配：NTD 420元／1組
          span （兩人份/含運/ATM轉帳付款）
          br
          | 歡迎於營業時間來電洽詢（11:00-20:00）
          br
          | 或填寫表單，我們將由專人與您聯繫。
        a.btn(href="http://www.greenvbakery.com/giftbox_wedding.html", target="blank") 預約品嚐