.contentBox#giftbox
  //- section-1
  .section#section-1
    .wrap
      .txtBox
        | 婚禮是人一輩子最重要的事情之一，
        br
        | 也是最難忘的回憶。
        br
        | 與相愛的人並肩迎接新的生活，
        br
        | 也希望能夠得到周遭親朋好友最大的祝福。
  //- section-2
  .section#section-2
    .wrap
      .txtBox
        | GREENBAKERY綠帶純植物烘焙，
        br
        | 秉持著愛護生命與自然的理念，
        br
        | 用純植物的方式來製作囍餅，
        br
        | 我們不採用任何動物性的食材，
        br
        | 就是希望每一對新人，
        br
        | 在人生中最重要的時刻，
        br
        | 能透過對生命的愛與尊敬，
        br
        | 得到來自天地萬物的最大祝福。
  //- section-3 Tabs
  .section#section-3
    .titleBox
      .wrap
        //- h1 純植物喜餅介紹
        //- h2 使用有機食材，獨創純植物烘焙
      .tabBox#tabs
        .wrap
          a.active(href="#tabs-1") 綠帶禮盒
          a(href="#tabs-2") 彌月禮盒
    .wrap#contBox
      //- 希臘雪球
      .contBox#tabs-1
        .catBox
          h2 綠帶禮盒
          h3 
            | 綠帶禮盒綠帶禮盒綠帶禮盒綠帶禮盒綠帶禮盒綠帶禮盒綠帶禮盒綠帶禮盒綠帶禮盒
            span 綠帶禮盒綠帶禮盒綠帶禮盒綠帶禮盒綠帶禮盒綠帶禮盒綠帶禮盒
        .contWrap
          .cont_txt
            ._title 微笑雪球
            ._desc 彷如曬到太陽而微笑的雪球是以有機椰子油與黃豆粉來製作，鬆鬆脆脆的口感有著淡淡的椰子香氣，配上茶與咖啡是一個很質樸卻是很有內涵的茶點。
          .cont_img
            img(src="webroot/images/cookie01-1.png", alt="")
        .contWrap
          .cont_txt
            ._title 花椒巧克力雪球
            ._desc 使用法國頂級巧克力，少許有機蔗糖，些微花椒香氣，讓巧克力風味更顯特色，讓尾韻綿延不絕。
          .cont_img
            img(src="webroot/images/cookie01-2.png", alt="")
        .contWrap
          .cont_txt
            ._title 抹茶綠藻雪球
            ._desc 特選頂級綠藻抹茶及台灣春茶，順口回甘，些許黑芝麻提味，讓茶香芬芳在舌尖漫開，留下一抹春風綠葉。
          .cont_img
            img(src="webroot/images/cookie01-3.png", alt="")





  //- section-4 reservation
  .section#section-4
    .bgBox
      img(src="./webroot/images/logo2.svg", alt="")
    .wrap
      .reservation
        h2 預約品嚐
        p
          | 囍餅品鑑需5-7天前申請預約
          br
          | •店取：NTD 200元／1組（兩人份）
          br
          | •宅配：NTD 420元／1組
          span （兩人份/含運/ATM轉帳付款）
          br
          | 歡迎於營業時間來電洽詢（11:00-20:00）
          br
          | 或填寫表單，我們將由專人與您聯繫。
        a.btn(href="http://www.greenvbakery.com/giftbox_wedding.html", target="blank") 預約品嚐