doctype html
html(lang="zh-TW")
  head
    block title
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(content="width=device-width initial-scale=1 minimum-scale=1.0 maximum-scale=1.0 user-scalable=0" name="viewport")
    meta(http-equiv="content-style-type", content="text/css")
    meta(http-equiv="content-script-type", content="text/javascript")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(http-equiv="content-language", content="en")
    meta(name="keywords", content="純素, 素食, 維根, 甜點, 烘焙, 禮盒, 綠帶純植物烘焙, 動物性不使用, 化學不使用, 健康, 無添加, 無蛋, 無奶, 蛋糕, 餅乾, 無毒, 自然農法, 糖漬罐, 布朗尼, 豆腐布朗尼, 棒旦糕, 杯子旦糕, 手工餅乾, 司康, 肉桂捲, 皇冠蛋糕, 生日蛋糕, 茶會, 禮盒, 外繪, 喜餅, 彌月禮盒, 婚禮小物, weddings, 曹思蓓, 蓓蓓, 素食蛋糕, 純素蛋糕, 杯子蛋糕, 磅蛋糕, 健康, 健康蛋糕, 養生, vegan, cake, dessert, homemade")
    meta(name="description", content="我們是一間健康 天然 輕盈的純植物旦糕店，堅持對環境與動物友善的Vegan理念；選用大量有機食材，讓對蛋奶過敏的朋友以及純素飲食者都能安心享用。")
    meta(name="author", content="SAISHUNKAN Co., Limited.")
    meta(name="copyright", content="Copyright (c)2014-2019 GREEN BAKERY All Rights Reserved.")
    base(href="./")
    script(src="webroot/scripts/jquery-1.11.1.min.js")
    script(src="webroot/scripts/jquery.sticky.js")
    script(src="webroot/scripts/main.js")
    link(type="text/css", rel="stylesheet", href="webroot/css/style.css")

  body
    //container
    block content