//- section-4 reservation
.section#section-4
  .bgBox
    img(src="./webroot/images/logo2.svg", alt="")
  .titleBox
    h2 預約品嚐
  .reservation.wrap
    .column
      p
        | 【囍餅】品鑑需5-7天前申請預約
        br
        | •店取：NTD 200元／1組（兩人份）
        br
        | •宅配：NTD 420元／1組
        span （兩人份/含運/ATM轉帳付款）
        br
        | 歡迎於營業時間來電洽詢（11:00-20:00）
        br
        | 或填寫表單，我們將由專人與您聯繫。
      a.btn(href="http://www.greenvbakery.com/giftbox_wedding.html", target="blank") 預約品嚐
    .column
      p
        | 【彌月】品鑑需5-7天前申請預約
        br
        | •店取：NTD 200元／1組（兩人份）
        br
        | •宅配：NTD 420元／1組
        span （兩人份/含運/ATM轉帳付款）
        br
        | 歡迎於營業時間來電洽詢（11:00-20:00）
        br
        | 或填寫表單，我們將由專人與您聯繫。
      a.btn(href="http://www.greenvbakery.com/giftbox_wedding.html", target="blank") 預約品嚐
