//- section-4 reservation
.section#section-4
  .bgBox
    img(src="./webroot/images/logo2.svg", alt="")
  .titleBox
    h2 聯絡我們
  .reservation.wrap
    .column
      p
        |【喜餅禮盒】
        br
        | 提供
        em 「餅乾」
        | 品鑑，需5-7天前申請預約
        br
        | •店取：NTD 200元／1組（兩人份）
        br
        | •宅配：NTD 360元／1組
        span （兩人份/含運/ATM轉帳付款）
        br
        | 歡迎於營業時間來電洽詢（11:00-20:00）
        br
        | 或填寫表單，我們將由專人與您聯繫。
      a.btn(href="http://www.greenvbakery.com/giftbox_wedding.html", target="blank") 預約品嚐
    .column
      p
        | 【外燴諮詢】
        br
        | 根據不同的企業或個人需求
        br
        | 我們提供各式不同的茶點服務
        br
        | 請您先填寫表單，
        br
        | 提供您想要形式、預算、數量。
        br
        | 我們將由專人與您聯繫。
      a.btn(href="http://www.greenvbakery.com/giftbox_fullmonth.html", target="blank") 諮詢表單
