.contentBox#catering
  //- section-1
  .section#section-1
    .wrap
      .txtBox
        | 市面上的喜餅禮盒往往在包裝上極盡奢華，
        br
        | 但是最重要給親友品嘗的內容反而不夠用心，
        br
        | 我們認為美滿婚姻就像是我們的喜餅，
        br
        | 不須譁眾取寵，而是有個人的想法，
        br
        | 用心經營的內涵，才是讓婚姻長長久久的道理。
  //- section-2
  .section#section-2
    .wrap
      .txtBox
        | 您可以在綠帶純植物烘焙，
        br
        | 透過自組的方式搭配出個人化的喜餅禮盒，
        br
        | 挑選外盒與緞帶，呈現專屬於您的風格，
        br
        | 最重要的是，每位收到喜餅的至親好友，
        br
        | 都會感受到您充滿愛的純植物選擇。
  //- section-3
  .section#section-3
    .wrap#contBox
      .catBox
        h2 外燴案例參考
      .contWrap
        .cont_txt
          ._title 外燴活動內容
          ._desc
            | 活動預算$12000~$15000
            br
            | 水果小塔類（季節水果）
            br
            | 手工餅乾(三種口味挑選）
            br
            | 鄉村蛋糕片裝
            br
            | 巧克力/乳酪切片蛋糕
            br
            | 常溫小蛋糕
        .cont_img
          img(src="https://fakeimg.pl/450x250/555/fff", alt="")
      .contWrap
        .cont_txt
          ._title 外燴活動內容
          ._desc
            | 活動預算$12000~$15000
            br
            | 水果小塔類（季節水果）
            br
            | 手工餅乾(三種口味挑選）
            br
            | 鄉村蛋糕片裝
            br
            | 巧克力/乳酪切片蛋糕
            br
            | 常溫小蛋糕
        .cont_img
          img(src="https://fakeimg.pl/450x250/555/fff", alt="")
      .contWrap
        .cont_txt
          ._title 外燴活動內容
          ._desc
            | 活動預算$12000~$15000
            br
            | 水果小塔類（季節水果）
            br
            | 手工餅乾(三種口味挑選）
            br
            | 鄉村蛋糕片裝
            br
            | 巧克力/乳酪切片蛋糕
            br
            | 常溫小蛋糕
        .cont_img
          img(src="https://fakeimg.pl/450x250/555/fff", alt="")
      .contWrap
        .cont_txt
          ._title 外燴活動內容
          ._desc
            | 活動預算$12000~$15000
            br
            | 水果小塔類（季節水果）
            br
            | 手工餅乾(三種口味挑選）
            br
            | 鄉村蛋糕片裝
            br
            | 巧克力/乳酪切片蛋糕
            br
            | 常溫小蛋糕
        .cont_img
          img(src="https://fakeimg.pl/450x250/555/fff", alt="")
      .contWrap
        .cont_txt
          ._title 外燴活動內容
          ._desc
            | 活動預算$12000~$15000
            br
            | 水果小塔類（季節水果）
            br
            | 手工餅乾(三種口味挑選）
            br
            | 鄉村蛋糕片裝
            br
            | 巧克力/乳酪切片蛋糕
            br
            | 常溫小蛋糕
        .cont_img
          img(src="https://fakeimg.pl/450x250/555/fff", alt="")
      .contWrap
        .cont_txt
          ._title 外燴活動內容
          ._desc
            | 活動預算$12000~$15000
            br
            | 水果小塔類（季節水果）
            br
            | 手工餅乾(三種口味挑選）
            br
            | 鄉村蛋糕片裝
            br
            | 巧克力/乳酪切片蛋糕
            br
            | 常溫小蛋糕
        .cont_img
          img(src="https://fakeimg.pl/450x250/555/fff", alt="")
      .contWrap
        .cont_txt
          ._title 外燴活動內容
          ._desc
            | 活動預算$12000~$15000
            br
            | 水果小塔類（季節水果）
            br
            | 手工餅乾(三種口味挑選）
            br
            | 鄉村蛋糕片裝
            br
            | 巧克力/乳酪切片蛋糕
            br
            | 常溫小蛋糕
        .cont_img
          img(src="https://fakeimg.pl/450x250/555/fff", alt="")

  include _reservation2.pug