.contentBox#catering
  //- section-1
  .section#section-1
    .wrap
      .txtBox
        | 在綠帶的外燴照片中，
        br
        | 您總會發現不同於店內銷售的商品，
        br
        | 對於綠帶的廚師們來說，
        br
        | 外燴是一場味覺的實驗，是一趟華麗的冒險。
        br
        | 我們不用考慮保存期限、寄送方式，
        br
        | 可以把更多心中想像的甜品鹹點，透過外燴實現，
        br
        | 也讓喜歡我們的朋友認識不同風貌的純植物烘焙。
  //- section-2
  .section#section-2
    .wrap
      .txtBox
        | 想試試純植物烘焙的魅力，快來找我們外燴吧！
        br
        | 企業活動、婚宴、宗教活動、記者會、公關活動，
        br
        | 我們可以依照您的需求進行餐點的調整與佈置，
        br
        | 歡迎留下資料與我們會儘快與您討論。
  //- section-3
  .section#section-3
    .wrap#contBox
      .catBox
        h2 外燴茶點目錄
      .contWrap
        .cont_txt
          ._title 15000元 約25～35人份
          ._desc
            p
              | 鹹點：
              br
              | 西班牙辣味野菇Tapas
              br
              | 黑橄欖迷迭起司佐香草脆餅
            p
              | 甜點：
              br
              | 百香鳳梨迷你杯子蛋糕
              br
              | 玫瑰莓果迷你杯子蛋糕
              br
              | 經典無花果豆腐布朗尼
              br
              | 果香濃豆乳奶酪
              span 
                | 以上包含：
                br
                | 餐點運送、餐具租用、專人現場擺盤
        .cont_img
          img(src="webroot/images/catering-01.jpg", alt="")
      .contWrap
        .cont_txt
          ._title 20000元 約35～45人份
          ._desc
            p
              | 鹹點：
              br
              | 法式番茄黑鹽鹹派
              br
              | 西班牙辣味野菇Tapas
              br
              | 黑橄欖迷迭起司佐香草脆餅
            p
              | 甜點：
              br
              | 百香鳳梨迷你杯子蛋糕
              br
              | 玫瑰莓果迷你杯子蛋糕
              br
              | 經典無花果豆腐布朗尼
              br
              | 果香濃豆乳奶酪
              span 
                | 以上包含：
                br
                | 餐點運送、餐具租用、專人現場擺盤
        .cont_img
          img(src="webroot/images/catering-02.jpg", alt="")
      .contWrap
        .cont_txt
          ._title 25000元 約45~55人份
          ._desc
            p
              | 鹹點：
              br
              | 法式番茄黑鹽鹹派
              br
              | 西班牙辣味野菇Tapas
              br
              | 黑橄欖迷迭起司佐香草脆餅
            p
              | 甜點：
              br
              | 百香鳳梨迷你杯子蛋糕
              br
              | 玫瑰莓果迷你杯子蛋糕
              br
              | 經典無花果豆腐布朗尼
              br
              | 果香濃豆乳奶酪
              span 
                | 以上包含：
                br
                | 餐點運送、餐具租用、專人現場擺盤
        .cont_img
          img(src="webroot/images/catering-03.jpg", alt="")
      .contWrap
        .cont_txt
          ._title 30000元 約55~65人份
          ._desc
            p
              | 鹹點：
              br
              | 蕃茄羅勒佐義大利香醋Tapas
              br
              | 手工黑松露起司佐鮮脆黃瓜
              br
              | 法式煙燻火腿起司鹹派
              br
              | 蘋果香檸沙拉盅
            p
              | 甜點：
              br
              | 檸檬薰衣草杯子蛋糕
              br
              | 玫瑰莓果迷你杯子蛋糕
              br
              | 經典無花果豆腐布朗尼
              br
              | 果香濃豆乳奶酪
              span 
                | 以上包含：
                br
                | 餐點運送、餐具租用、專人現場擺盤
        .cont_img
          img(src="webroot/images/catering-04.jpg", alt="")
      .contWrap
        .cont_txt
          ._title 35000元 約55~70人份
          ._desc
            p
              | 鹹點：
              br
              | 蕃茄羅勒佐義大利香醋Tapas
              br
              | 手工黑松露起司佐鮮脆黃瓜
              br
              | 法式煙燻火腿起司鹹派
              br
              | 蘋果香檸沙拉盅
            p
              | 甜點：
              br
              | 檸檬薰衣草杯子蛋糕
              br
              | 玫瑰莓果迷你杯子蛋糕
              br
              | 經典無花果豆腐布朗尼
              br
              | 果香濃豆乳奶酪
              br
              | 手工餅乾
            p
              | 飲料：
              br
              | 英國有機伯爵茶
              span 
                | 以上包含：
                br
                | 餐點運送、餐具租用、專人現場擺盤、人員現場服務
        .cont_img
          img(src="webroot/images/catering-05.jpg", alt="")
      .contWrap
        .cont_txt
          ._title 40000元 約65~80人份
          ._desc
            p
              | 鹹點：
              br
              | 蕃茄羅勒佐義大利香醋Tapas
              br
              | 手工黑松露起司佐鮮脆黃瓜
              br
              | 法式煙燻火腿起司鹹派
              br
              | 蘋果香檸沙拉盅
            p
              | 甜點：
              br
              | 檸檬薰衣草杯子蛋糕
              br
              | 玫瑰莓果迷你杯子蛋糕
              br
              | 經典無花果豆腐布朗尼
              br
              | 果香濃豆乳奶酪
              br
              | 手工餅乾拼盤
            p
              | 飲料：
              br
              | 英國有機伯爵茶
              span 
                | 以上包含：
                br
                | 餐點運送、餐具租用、專人現場擺盤、人員現場服務
        .cont_img
          img(src="webroot/images/catering-06.jpg", alt="")
      .contWrap
        .cont_txt
          ._title 45000元 約75~90人份
          ._desc
            p
              | 鹹點：
              br
              | 蕃茄羅勒佐義大利香醋Tapas
              br
              | 手工黑松露起司佐鮮脆黃瓜
              br
              | 法式煙燻火腿起司鹹派
              br
              | 蘋果香檸沙拉盅
            p
              | 甜點：
              br
              | 檸檬薰衣草杯子蛋糕
              br
              | 玫瑰莓果迷你杯子蛋糕
              br
              | 經典無花果豆腐布朗尼
              br
              | 果香濃豆乳奶酪
              br
              | 手工餅乾拼盤
            p
              | 飲料：
              br
              | 英國有機伯爵茶
              br
              | 熱美式咖啡
              span 
                | 以上包含：
                br
                | 餐點運送、餐具租用、專人現場擺盤、人員現場服務
        .cont_img
          img(src="webroot/images/catering-07.jpg", alt="")
  include _reservation2.pug