/*---------------------------------------------*/
/*nav*/
/*---------------------------------------------*/
.navBox {
  width: 100%;
  height: auto;
  padding: 10px 0;
  position: fixed;
  top: 0;
  z-index: 9;
  background: white;
  animation: show 0.2s;
}

.navBox .logo {
  width: 200px;
  height: auto;
  margin: 0 0 0 10px;
  float: left;
  transition: all 0.2s linear;
}

.navBox .logo img {
  width: 100%;
  height: auto;
}

.navBox .nav {
  float: right;
  margin-top: 12px;
  transition: all 0.2s linear;
}

.navBox .nav a {
  text-align: center;
  padding: 10px 20px;
  color: #333;
  font-size: 17px;
  position: relative;
  transition: all 0.1s linear;
}

.navBox .nav a:hover, .navBox .nav a.on {
  color: #009d95;
}

.navBox .nav a + a {
  margin-left: 20px;
}
