/*---------------------------------------------*/
/*responsive tablet*/
/*---------------------------------------------*/
@media (min-width: 668px) and (max-width: 1024px) {
  .mainContent {
    line-height: 2;
    font-size: 16px;
  }
  .mainContent h1 {
    font-size: 30px;
  }
  .mainContent h2 {
    font-size: 20px;
  }
  .mainContent h3 {
    font-size: 16px;
  }
  .mainContent .txtBox {
    line-height: 2;
  }
  .mainContent .wrap {
    width: 90%;
    height: auto;
  }
  .navBox .logo {
    width: 150px;
    height: auto;
  }
  .navBox .nav {
    margin-top: 8px;
  }
  .navBox .nav a {
    padding: 5px 10px;
    font-size: 16px;
  }
  .footerBox .mediaBox {
    font-size: 13px;
  }
  #tabs {
    padding: 5px 0;
  }
  #tabs a {
    padding: 10px 10px;
  }
  #tabs a:after {
    width: 15px;
    height: 15px;
  }
  #contBox .contBox .catBox {
    padding-top: 30px;
    margin-bottom: 20px;
  }
  .contWrap .cont_txt {
    -ms-flex: 6;
        flex: 6;
    -ms-flex-negative: auto;
        flex-shrink: auto;
    -ms-flex-positive: auto;
        flex-grow: auto;
  }
  .contWrap .cont_img {
    -ms-flex: 4;
        flex: 4;
    -ms-flex-negative: auto;
        flex-shrink: auto;
    -ms-flex-positive: auto;
        flex-grow: auto;
  }
  #section-4 .bgBox img {
    width: 200px;
    height: auto;
  }
  #section-4 .reservation p {
    min-height: 220px;
  }
  .contentBox#giftbox #section-3 #green_box li {
    width: calc(100% / 2.5);
  }
  .contentBox#giftbox #section-3 #green_ribbon li {
    width: calc(100% / 3.5);
  }
  .contentBox#giftbox #section-3 #green_bag li {
    width: calc(100% / 2.5);
  }
  .contentBox#giftbox #section-3 #green_cstm li {
    width: calc(100% / 3);
  }
  .contentBox#giftbox #section-3 #moon_box li {
    width: calc(100% / 2.5);
  }
  .contentBox#giftbox #section-3 #moon_circle li {
    width: calc(100% / 3);
  }
  .contentBox#giftbox #section-3 #moon_cake li {
    width: calc(100% / 2.5);
  }
  .contentBox#giftbox #section-3 #moon_cstm li {
    width: calc(100% / 3);
  }
  .contentBox#catering #section-3 .catBox {
    margin-bottom: 70px;
  }
  .contentBox#catering #section-3 .contWrap {
    width: 90%;
  }
  .contentBox#catering #section-3 .contWrap + .contWrap:before {
    width: 100%;
    height: 1px;
  }
  .contentBox#catering #section-3 .contWrap .cont_txt {
    -ms-flex: 5;
        flex: 5;
  }
  .contentBox#catering #section-3 .contWrap .cont_img {
    -ms-flex: 7;
        flex: 7;
  }
  .contentBox#catering #section-3 .contWrap .cont_img img {
    max-width: 300px;
  }
  .contentBox#catering #section-3 .contWrap span {
    white-space: normal;
  }
}

@media (min-width: 900px) and (max-width: 1440px) {
  .mainContent {
    line-height: 1.6;
    font-size: 16px;
  }
  .mainContent h1 {
    font-size: 30px;
  }
  .mainContent h2 {
    font-size: 20px;
  }
  .mainContent h3 {
    font-size: 16px;
  }
  .mainContent .txtBox {
    line-height: 2;
  }
  .mainContent .wrap {
    width: 75%;
    height: auto;
  }
  .navBox .logo {
    width: 150px;
    height: auto;
  }
  .navBox .nav {
    margin-top: 8px;
  }
  .navBox .nav a {
    padding: 5px 10px;
    font-size: 16px;
  }
  .footerBox .mediaBox {
    font-size: 13px;
  }
  #tabs {
    padding: 5px 0;
  }
  #tabs a {
    padding: 10px 10px;
  }
  #tabs a:after {
    width: 15px;
    height: 15px;
    left: -8px;
  }
  #contBox .contBox .catBox {
    padding-top: 30px;
    margin-bottom: 20px;
  }
  .contWrap .cont_txt {
    -ms-flex: 420px;
        flex: 420px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-positive: 0;
        flex-grow: 0;
    margin-top: 50px;
  }
  .contWrap .cont_img {
    -ms-flex: 350px;
        flex: 350px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-positive: 0;
        flex-grow: 0;
  }
  #section-4 .bgBox img {
    width: 200px;
    height: auto;
  }
  .contentBox#giftbox #section-3 .cont_gallery li {
    font-size: 15px;
  }
  .contentBox#giftbox #section-3 #green_box li span {
    margin: 0;
  }
}
